<a name="<{$item.id}>"></a>
<table border=0 cellpadding=2 style="width: auto; font-size:13px" id="<{$item.id}>"><tr>
	<{if $item.parent_id == 0}>
		<td rowspan=2 width=40 style="border-width: 1; vertical-align: middle;"><br></td>
	<{/if}>
	<td nowrap style="border-width: 1; vertical-align: top;"><font color="#006600"><b><{$item.title}></b></font>
		<{$smarty.const._MD_YYBBS_POSTER}>:<b><{$item.name}></b> <{$smarty.const._MD_YYBBS_POSTDATE}>:<{$item.date}>
		<font color="#006600">No.<{$item.serial}></font></td>
		<td nowrap style="border-width: 1; vertical-align: top;"> &nbsp; <{$item.url}></td><td style="border-width: 1; vertical-align: top;">
		<{if $item.parent_id==0}>
			<form action="./res.php" method="post">
			<input type=hidden name=mode value=res>
			<input type=hidden name=bbs_id value="<{$bbs_id}>">
			<input type=hidden name=no value="<{$item.id}>">
			<input type=submit value='<{$smarty.const._MD_YYBBS_RES}>'></td></form>
		<{else}>
			<br></td>
		<{/if}>

		</tr></table><table border=0 cellpadding=5 style="text-align: left; width: auto;"><tr>

		<{if $item.parent_id}>
			<td width=32><br></td>
		<{/if}>

		<td align="left" style="border-width: 1; vertical-align: middle;"><img src="<{$xoops_upload_url}>/<{$item.icon}>"></td>
		<td align="left" style="border-width: 1; vertical-align: middle;"><blockquote><font color="<{$item.col}>"><{$item.message}></font></blockquote></td></tr></table>